
Django
django-adaptors
django-cors-headers
django-extensions
django-filter
django-mssql
django-mssql-azure-backend
django-mssql-backend
django-mssql-backend-azure
django-mysql
django-pymssql
djangorestframework

Pillow

pymssql
pyodbc
requests
urllib3
